:root {
  --main: #800020;
  --second: #D4AF37;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  position: relative;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F7;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
